/* UserMenu.module.css */

.userMenu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 1;
}

.MailBtn,
.NoticeBtn {
  background: none;
  border-radius: 10px;
  border: 0;
}

.mailIcon,
.noticeIcon {
  color: white;
}

.mailIcon:hover,
.noticeIcon:hover {
  cursor: pointer;
  color: black;
}

.circleWrapper {
  width: 2.5rem; /* Match the width of the button */
  height: 2.5rem; /* Match the height of the button */
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleWrapper > img {
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: center; /* Center the content within the circle */
  border-radius: 50%;
}

.userBtn {
  background-color: white;
  border: 0;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 0.2rem;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
